.DS_Store
catalog-v*.xml
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
venv/
env/
*.lock
scripts/sql_insert_emi_data/.idea/
*.properties
query_tests.sql

data
disha_testKG_2024-07-29.ttl
